body {
    background: url(../../../img/img-background.jpg) center fixed no-repeat;
    color: #E1E1E6;
    background-size: cover;
}
body #main-form{
    background: #121214;
}
body #cadastro-concluido{
    background: #121214;
}
#main-form{
    margin: 30px 15% 0 15%;
    border-bottom: 3px solid #E1E1E6;
    border-right: 3px solid #E1E1E6;
    border-left: 3px solid #5106c9;
    border-top: 3px solid #5106c9;
    padding: 10px;
    border-radius: 30px;
}
.navbar {
    background-color: #000;
    height: 80px;
}

#resilia, #flix {
    font-size: 1.5em;
    letter-spacing: 2px;
}

#resilia {
    color: #6709ff;
    margin-left: 50px;
    border-bottom: 2px solid #5106c9;
    border-top: 2px solid #5106c9;
    border-left: 2px solid #5106c9;
    padding-left: 5px;
    
}

#flix {
    color: #E1E1E6;
    border-bottom: 2px solid #E1E1E6;
    border-top: 2px solid #E1E1E6;
    border-right: 2px solid #E1E1E6;
    padding-right: 5px;
}

.filmes-button {
    border: 1px solid #5106c9;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: background .5s;
    margin-right: 10px;
}

.filmes-button:hover {
    background: #5106c9;
    color: #b3b3b6; 

    border: 1px solid #E1E1E6;
}

.entrar {
    border: 1px solid #5106c9;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: background .5s;
}
.filmes{
    border: 1px solid #5106c9;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    transition: background .5s;
    margin-right: 10px;
}

.entrar:hover {
    border: 1px solid #E1E1E6;
    background: #5106c9;
    color: #b3b3b6; 
}

.cadastro {
    background-color: #5106c9;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    transition: background 1s;
}

.cadastro:hover {
    background-color: #40079b;  
    color: #b3b3b6;   
}

#cadastro {
    margin-left: 10px;
    margin-right: 10px;
}

.titulo-form-login, .titulo-form-cadastro {
    margin-bottom: 20px;
    text-align: center;
}

.container-form, .container-recForm, .container-logForm {
    margin: auto;
    margin-top: 30px;
    max-width: 500px;
}

#formulario {
    margin: auto;
    margin-top: 30px;
    max-width: 1000px;
}

.nome-sobrenome {
    display: flex;
    gap: 1rem;
}

.container-recForm, .container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mudarSenha {
    margin-top: -55px;
    margin-bottom: 45px;
}

/*Icone de mudar senha*/
.mostra-senha{
    height: 35px;
    width: 35px;
    background: white;
    border-radius: 48%;
    box-shadow: -1px -1px 1px 3px rgb(0, 0, 0);
}
.btn-mostra{
    margin-top: 50px;
}
.mostra-senha:active{
    background: #5106c9;
    box-shadow: -3px -3px 1px 3px rgb(20, 20, 20);
}

.input-style, .button-style {
    width: 405px;
}

.texto-info-senha {
    font-size: 14px;
    max-width: 405px;
    color: #672dc5;
}

.button-style {
    background-color: #5106c9;
    color: #E1E1E6;
}

.button-style:hover {
    background-color: #40079b;
    color: #b3b3b6;    
}


.esqueceu-senha {
    color: #672dc5;
}

.esqueceu-senha:hover {
    color: #5106c9;
}

.f-text {
    font-size: 12px;
    color: #672dc5;
}

.button-login:hover {
    background-color: #40079b;
    color: #b3b3b6;    
}

.campo-nome {
    margin-right: 200px;
}


/*-Parte Cadastro-*/

.invisivel{
    display:none;
    color:red
}
.cor-vermelha{
    color:red;
}
.invisivel-complemento{
    display: none;
}
#senha-mesma-valido{
    color: red; 
}
/*Remover Setas do type="number"  (-moz-appearance) - é utilizada para exibir um elemento usando o estilo nativo da plataforma com base no tema do sistema operacional.
#validationCustom06::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
*/
/*Cadastro Concluido*/
#cadastro-concluido{
    margin: 30px 15% 0 15%;
    border-bottom: 3px solid #E1E1E6;
    border-right: 3px solid #E1E1E6;
    border-left: 3px solid #5106c9;
    border-top: 3px solid #5106c9;
    padding: 10px;
    border-radius: 30px;
    opacity: 0;
    text-align: center;
}
.img-obrigado{
    border-radius: 10%;
}