*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

* {
    --text-color: #FFF;
    --background-color: #0a0a0a;

    --primary-font: 'Montserrat', sans-serif;
}

body {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

#header {
    background: rgb(45, 0, 78);
    background: linear-gradient(0deg, rgba(45, 0, 78, 1) 0%, rgba(0, 0, 0, 1) 100%);

    height: 5rem;

    display: flex;
    align-items: center;
}

#header .navbar {
    color: var(--text-color);
    font-size: 1rem;

    display: flex;
    justify-content: space-between;

    width: 100%;
    margin: 0 3.125rem;
}

#header .navbar .navmenu,
#header .navbar .navmenu .menu {
    display: flex;
}

#header .navbar .navmenu .menu {
    list-style: none;

    align-items: center;
}

#header .navbar .navmenu .menu a {
    color: var(--text-color);
    margin: 0 0.625rem;
    letter-spacing: .5px;
    padding: 0 10px;

    position: relative;
}

#header .navbar .navmenu .menu a::after {
    content: "";
    position: absolute;
    background-color: #ddd;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;

}

#header .navbar .navmenu .menu a:hover::after {
    width: 100%;
}


header .navbar .navmenu .logo {
    font-size: 1.5rem;
    margin-right: 2rem;

    display: flex;
    align-items: center;
}

#header .navbar .get-started .login {
    background: transparent;
    color: var(--primary-font);
    border: none;
    margin: 0 20px;
}

#header .navbar .get-started .login {
    --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
    --border-width: .125em;
    --curve-size: .5em;
    --blur: 30px;
    --bg: #080312;
    --color: #afffff;
    color: var(--color);
    position: relative;
    isolation: isolate;
    display: inline-grid;
    place-content: center;
    padding: .5em 1.5em;
    font-size: 17px;
    border: 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
    clip-path: polygon(
            /* Top-left */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* top-right */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottom-right 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottom-right 2 */
            0 100%);
    transition: color 250ms;
}

#header .navbar .get-started .login::after,
#header .navbar .get-started .login::before {
    content: '';
    position: absolute;
    inset: 0;
}

#header .navbar .get-started .login::before {
    background: var(--border-color);
    background-size: 300% 300%;
    animation: move-bg7234 5s ease infinite;
    z-index: -2;
}

@keyframes move-bg7234 {
    0% {
        background-position: 31% 0%
    }

    50% {
        background-position: 70% 100%
    }

    100% {
        background-position: 31% 0%
    }
}

#header .navbar .get-started .login::after {
    background: var(--bg);
    z-index: -1;
    clip-path: polygon(
            /* Top-left */
            var(--border-width) calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottom-right 2 */
            var(--border-width) calc(100% - var(--border-width)));
    transition: clip-path 500ms;
}

#header .navbar .get-started .login:where(:hover, :focus)::after {
    clip-path: polygon(
            /* Top-left */
            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),

            calc(100% - var(--border-width)) var(--border-width),

            /* top-right */
            calc(100% - var(--border-width)) var(--border-width),

            calc(100% - var(--border-width)) calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottom-right 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),

            /* bottom-right 2 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)) calc(100% - var(--border-width)));
    transition: 200ms;
}

#header .navbar .get-started .login:where(:hover, :focus) {
    color: #fff;
}

.carousel {
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 25%;
    margin-right: 20px;
}

/* Estilos para os banners */
.banner {
    flex: 0 0 calc(33.3% - 16px);
    width: calc(33.3% - 3px);
    margin-bottom: 20px;
    border-radius: 3px;
}

main.main {
    margin: 0 3.125rem;
}

.carousel-item img {
    max-height: 650px;
}

.main h1 {
    font-size: 3rem;
    letter-spacing: 3px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

/* https://www.movieposterdb.com/ */

.plans {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 200px 0;
}

.plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    width: 550px;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }

  .carousel-item h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    background: #2b014a
}